* {
	margin: 0;
	padding: 0;
}
.tabs-panel {
	background-color: #ebebeb;
	padding: 20px;
}
.tab {
	display: inline-block;
    padding: 5px 10px;
	text-align: center;
	color: #7b97ad;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #fff;
	border: 1px solid #b2c4d4;
    line-height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tab:hover {
	cursor: pointer;
}
.tab-active {
    margin-bottom: 13px;
	color: #fff;
	background-color: #7b97ad;
}
.tab-content {
	display: none;
	padding: 10px;
	width: 600px;
	
	background-color: #ebebeb;
}
.tab-content-1 {
	display: block;
}

/* .tab {
	display: block;
	width: 200px;
	text-align: center;
	background-color: #aeaeae;
	line-height: 40px;
}
.tab a {
	text-decoration: none;	
}
.tab:hover {
	cursor: pointer;
}
.content {
	display: none;
	height: 50px;
	transition: all 0.2s;
	background-color: #fff;
}
.content-1 {
	display: block;
} */

/* HOME WORK TABS */
p, span {
	font-family: Arial, Helvetica, sans-serif;
}
.tab-content-1 {
	display: flex;
}
.question-content {
	width: 50%;
	padding: 29px 10px;
}
.question-inputs {
	margin-bottom: 22px;
}
.question-input {
	width: 90%;
	padding: 5px;
	border-radius: 5px;
	border-color: #b2c4d4 ;
}
.question-btn {
	background: linear-gradient(180deg, rgb(203, 239, 44), rgb(90, 176, 10));
	padding: 15px 20px;
	border-radius: 25px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}
.question-title, .message-input {
	font-size: 13px;
	font-weight: 600;
	color: #425666;
	margin-bottom: 13px;
	text-transform: uppercase;
}
.question-message {
	padding-top: 29px;
	padding-right: 20px;
}
.question-area {
	height: 182px;
	border-radius: 5px;
	border-color: #b2c4d4 ;
}
