* {
	margin: 0;
	padding: 0;
}

.tab {
	display: inline-block;
	width: 200px;
	text-align: center;
	background-color: #aeaeae;
	height: 40px;
	line-height: 40px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}
.tab:hover {
	cursor: pointer;
}

.tab-content {
	display: none;
	padding: 10px;
	width: 600px;
	height: 200px;
	background-color: rgba(0,0,0,.1);
}
.tab-content-1 {
	display: block;
}

/* .tab {
	display: block;
	width: 200px;
	text-align: center;
	background-color: #aeaeae;
	line-height: 40px;
}
.tab a {
	text-decoration: none;	
}
.tab:hover {
	cursor: pointer;
}
.content {
	display: none;
	height: 50px;
	transition: all 0.2s;
	background-color: #fff;
}
.content-1 {
	display: block;
} */

/* HOME WORK TABS */
p {
	font-family: Arial, Helvetica, sans-serif;
}
.tab-content-1 {
	display: flex;
}
.question-content {
	width: 50%;
	padding: 29px 10px;
}
.question-inputs {
	margin-bottom: 22px;
}
.question-input {
	padding: 5px;
}
.question-title, .message-input {
	font-size: 13px;
	font-weight: 600;
	color: #425666;
	margin-bottom: 13px;
	text-transform: uppercase;
}
.question-message {
	padding-top: 20px;
	padding-right: 20px;
}